<!-- views/enquiry.hbs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: none;
            background-color: rgb(255, 255, 255) !important;
            color: white !important;
        }
        .container {
            margin-top: 50px;
            background-color: white;
            color: black;
            padding: 20px;
            border-radius: 5px;
        }
        .table {
            color: black;
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .table thead th {
            background-color: #343a40;
            color: white;
        }
        .btn-complete {
            color: white !important;
        }
        .table-container {
            max-height: 500px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Enquiries</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Type of Enquiry</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each enquiries}}
                    <tr>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.enquiryType}}</td>
                        <td>
                            <button class="btn btn-success btn-complete">Mark as Completed</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</body>
