body {
  background-image: url('/images/blue-psychedelic-background-design.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  gap: 20px;
}

.admin-login,
.customer-login,
.customer-register-login-form,
.register-form,
.register-login {
  margin: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  width: 45%;
}

h2 {
  font-size: 24px;
  color: #000;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #000;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  width: 100%;
  background-color: #000;
  color: #f6f6f6;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #444;
}
